// Container at the bottom of the page.
.post-tags {
    nav::before {
        content: "Tags: ";
        padding: 0.5em 2em;
        display: block;
        font-weight: bold;
    }
    background-color: var(--bg-2);
    border-radius: 5px;
    padding: 1rem 0rem;
}

// Single tags.
.tags li::before {
  content: "";
}

// Tag list.
ul.tags {
    list-style: none;
    // Horizontal list.
    display: flex;
    flex-wrap: wrap;
}

.tags a {
//   border-bottom: 3px solid var(--primary-color);
  border: 3px solid var(--bg-0);
  border-radius: 100rem;
  margin: 0rem 0.5rem 0 0;
  padding: 0.5rem 1rem;
}

.tags a:hover {
  color: var(--hover_color);
  background-color: var(--bg-0);
}
