$accent: rgb(80, 133, 239);

:root {
  $text-0: mix(black, $accent, 65%);
  --text-0: #{$text-0};
  $text-1: mix(white, $accent, 40%);
  --text-1: #{$text-1};

  --primary-color: #{$accent};
  --hover-color: white;

  $bg-0: mix(white, $accent, 90%);
  --bg-0: #{$bg-0};
  --bg-1: rgba(0, 0, 0, 5%);
  --bg-2: rgba(0, 0, 0, 2%);
}

@media (prefers-color-scheme: dark) {
  :root {
    $text-0: mix(white, $accent, 90%);
    --text-0: #{$text-0};
    $text-1: mix(white, $accent, 66%);
    --text-1: #{$text-1};

    --primary-color: #{$accent};
    --hover-color: white;

    $bg-0: mix(black, $accent, 90%);
    --bg-0: #{$bg-0};
    --bg-1: rgba(255, 255, 255, 5%);
    --bg-2: rgba(255, 255, 255, 10%);
  }
}
