@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

.fullheight {
    height: 100vh;
    min-height: -webkit-fill-available;
}

.fullwidth {
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .desktop.only {
        visibility: hidden;
    }

    .mobile.only {
        visibility: initial;
    }
}

@media only screen and (min-width: 701px) {
    .desktop.only {
        visibility: initial;
    }

    .mobile.only {
        visibility: hidden;
    }
}

.menu.item, .header, .content, .primary.button, .secondary.button, .button, .f-nunito {
    font-family: 'Nunito', sans-serif;
}

body *, .sub.header, .f-mserrat {
    font-family: 'Montserrat Alternates', sans-serif;
}

.darkbg {
    background-color: #111111 !important;
}