    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
    /* ---------------- Color palette ---------------- */
    
     :root {
        --palette-white: #D7D7D9;
        --palette-blue: #024873;
        --palette-cyan: #608BA6;
        --palette-orange: #BF7B3F;
        --palette-red: #8C2F1B;
        --palette-dark1: #111111;
        --palette-dark2: #222222;
        --palette-lightgray: #979799;
        --palette-shadow: rgba(0, 0, 0, 0.5);
    }
    /* ---------------- Layout ---------------- */
    
    .fullheight {
        height: 110vh !important;
        overflow: hidden;
        /* min-height: -webkit-fill-available; */
    }
    
    .fullwidth {
        width: 100vw !important;
        overflow: hidden;
    }
    /* --------------- Desktop/mobile variants ---------------- */
    
    @media only screen and (max-width: 700px) {
        .desktop.only {
            display: none !important;
        }
        .mobile.only {
            visibility: initial;
        }
    }
    
    @media only screen and (min-width: 701px) {
        .desktop.only {
            visibility: initial;
        }
        .mobile.only {
            display: none !important;
        }
    }
    /* ---------------- Fonts ---------------- */
    
    .header,
    *:not(i),
    .f-nunito {
        font-family: 'Nunito', sans-serif !important;
    }
    /* ---------------- Custom styles ---------------- */
    
    body {
        color: var(--palette-white);
    }
    
    p {
        color: var(--palette-dark1);
    }
    
    .segment {
        color: var(--palette-dark1);
    }
    
    .darkbg {
        background-color: var(--palette-dark1) !important;
    }
    
    .vantabg {
        color: var(--palette-white);
    }
    
    .fixed.menu.opaque {
        -webkit-backdrop-filter: blur(20px) saturate(120%) brightness(60%);
        backdrop-filter: blur(20px) saturate(120%) brightness(60%);
        background-color: var(--palette-dark1);
    }
    
    .fixed.menu {
        border: none !important;
    }
    
    .grid.footer {
        background-color: var(--palette-dark2);
        color: var(--palette-white);
        padding-top: 12pt;
    }
    
    .footer.column {
        margin: 0pt;
    }
    
    .footer .column .link.list {
        padding-top: 36pt;
        padding-bottom: 36pt;
    }
    
    .footer .final.footer {
        background-color: var(--palette-dark1);
        color: var(--palette-lightgray);
    }
    
    .final.footer.mobile.only {
        padding-top: 12pt;
        padding-bottom: 20pt;
    }
    
    .footer .column .link.list .item {
        color: var(--palette-lightgray);
        font-weight: lighter;
        padding-bottom: 12pt;
    }
    
    .footer .column .link.list .active.item {
        color: var(--palette-white);
        font-weight: bolder;
        padding-bottom: 24pt;
    }
    
    .norminal.presenter {
        overflow: hidden;
        background-color: var(--palette-blue);
    }
    
    @media only screen and (max-width: 700px) {
        .norminal.presenter {
            padding: 20pt;
        }
    }
    
    @media only screen and (min-width: 701px) {
        .norminal.presenter {
            padding: 36pt;
        }
        .norminal.iphone.mockup {
            float: right;
        }
    }
    
    .norminal.iphone.mockup {
        filter: drop-shadow(0px 0px 6px var(--palette-shadow));
        margin-bottom: -150px;
    }
    
    .norminal .ui.header:not(.sub) {
        font-size: 400% !important;
        font-weight: 900 !important;
        color: white;
        text-shadow: 1px 1px 0px var(--palette-cyan), 2px 2px 1px var(--palette-cyan), 3px 3px 0px var(--palette-cyan), 3px 3px 24px var(--palette-shadow);
    }
    
    .norminal .ui.button {
        margin-top: 12pt;
    }